
{% block _product_view_attribute_group_general_attribute_text_sku_widget -%}
    {% set attr = layout_attr_defaults(attr, {
        '~class': ' sku'
    }) %}   
    <p {{ block('block_attributes') }}>
        {{ 'oro.product.frontend.index.item'|trans }} <span class="sku__code" itemprop="sku">{{ entity.sku|e }}</span>
        <div class="product_view_inventory_status"> Inventory status: <span>{{ entity.inventoryStatus.id|e }}</span></div>
    </p>
{% endblock %}
